<!--редактирование/создания задачи-->

<mat-dialog-content>
    <p mat-dialog-title>{{dialogTitle}}</p>

    <!--название задачи    -->
    <mat-form-field>

        <mat-label>Name (required)</mat-label>
        <input
            #inputTitle
            (keydown.enter)="onConfirm()"

            [(ngModel)]="tmpTitle"

            matInput> <!-- по нажатию на enter можем сразу сохранить задачу -->

        <button
            (click)="tmpTitle= ''"

            *ngIf="tmpTitle.trim().length > 0" aria-label="Clear" class="size25" mat-button

            mat-icon-button matSuffix>

            <mat-icon>clear</mat-icon>
        </button>

    </mat-form-field>

    <!--    выпадающий список категорий-->
    <mat-form-field>
        <mat-label>Select category</mat-label>

        <mat-select [(ngModel)]="tmpCategory">
            <mat-option [value]="null">Uncategorized</mat-option>
            <mat-option *ngFor="let cat of categories" [value]="cat">
                {{cat.title}}
            </mat-option>
        </mat-select>

    </mat-form-field>

    <!--    выпадающий список категорий-->
    <mat-form-field>
        <mat-label>Select priority</mat-label>

        <mat-select [(ngModel)]="tmpPriority">
            <mat-option [value]="null">Uncategorized</mat-option>
            <mat-option *ngFor="let item of priorities" [value]="item">
                {{item.title}}
            </mat-option>
        </mat-select>

    </mat-form-field>


    <!--    календарь - срок выполнения -->
    <mat-form-field>
        <input
            matInput placeholder="Add deadline!" #inputData
            readonly="true"
            [matDatepicker]="picker"
            [(ngModel)]="tmpDate"
            (click)="picker.open()"
        >
        <!-- иконка календаря - для открытия календаря -->
        <mat-datepicker-toggle matSuffix [for]="picker" class="size25"></mat-datepicker-toggle>

        <!-- компонент календаря - открываеться по нажатию -->
        <mat-datepicker #picker></mat-datepicker>

        <!-- кнопка очистки даты -->
        <button
            *ngIf="inputData.value.trim().length > 0"
            mat-button matSuffix mat-icon-button aria-label="clear"
            (click)="tmpDate = null" class="size25">

            <mat-icon>clear</mat-icon>

        </button>
    </mat-form-field>


</mat-dialog-content>


<!--  кнопки возможных действий-->
<mat-dialog-actions>

    <div class="col-md-5 col-12">

        <button
            (click)="onConfirm()" [disabled]="inputTitle.value.trim().length==0"
            color="primary"
            mat-raised-button>  <!-- если пустой текст - кнопка "Сохранить" будет недоступна -->
            Save
        </button>


        <button (click)="onCancel()" mat-raised-button>Cancel</button>

    </div>
    <div class="col-md-7 col-12 text-right">

        <button
            (click)="!status ? activate() : complete()"
            mat-button
        >
            {{!status ? 'Complete task' : 'Activate task'}}
        </button>


        <button
            mat-button
            class="red"
            (click)="delete()"

        >
            Delete task
        </button>

    </div>

</mat-dialog-actions>

