<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
    <div class="logo">
        <span class="nav-title">
            Categories
        </span>
        <!--Кнопка добавления категории-->
        <span class="add-icon-area">
            <button
                mat-mini-fab
                color="primary"
                aria-label="icon-button with add icon"
                (click)="openAddCategoryDialog()"
            >
                <mat-icon style="margin-bottom: 5px">add</mat-icon>
            </button>
        </span>
        <span class="space"></span>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li
                class="nav-item category"
                (click)="showTasksByCategory(null)"
                [class.active]="selectedCategory === null"
            >
                <a class="nav-link pointer">
                    <span class="all-category-title">All</span>
                </a>
            </li>

            <div class="line"></div>

            <li
                *ngFor="let category of categories; let index = index " [class.active]="category === selectedCategory"

                (click)="showTasksByCategory(category)"

                (mouseleave)="showEditIcon(null)"
                (mouseenter)="showEditIcon(index)"

                class="nav-item pointer"
            >
                <a class="nav-link">
                    <!--          название категории-->
                    <span class="category-title">{{category.title}}</span>

                    <!--         кнопка редактирования категории-->
                    <span class="edit-category-icon-area">
                        <mat-icon
                            *ngIf="indexMouseMove === index"
                            (click)="$event.stopPropagation(); openEditDialog(category)"
                            class="edit-category-icon"
                        >
                            edit
                        </mat-icon>
                    </span>
                </a>
            </li>

            <!--            <li (click)="showTasksByCategory(category)"-->
            <!--                *ngFor="let category of categories" [class.active]="category === selectedCategory"-->

            <!--                class="nav-item pointer"-->

            <!--            >-->
            <!--                <a class="nav-link">-->
            <!--                    <p>{{category.title}}</p>-->
            <!--                </a>-->
            <!--            </li>-->
        </ul>
    </div>
</div>
